<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_N</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_U</key>
		<integer>-35</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-60</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_exclam</key>
		<integer>20</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Germandbls</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_period</key>
		<integer>10</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-60</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_braceright</key>
		<integer>50</integer>
		<key>@MMK_R_bracketright</key>
		<integer>50</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>50</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Ohorn</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_H</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_Thorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>-20</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_numbersign</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_slash</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Uhorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_Germandbls</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
		<key>@MMK_R_p</key>
		<integer>-45</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>30</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>30</integer>
		<key>@MMK_R_quotereversed</key>
		<integer>30</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_underscore</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-58</integer>
		<key>@MMK_R_Germandbls</key>
		<integer>-60</integer>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_guillemetleft</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemetright</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_lslash</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>20</integer>
		<key>@MMK_R_quotereversed</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_Germandbls</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_anoteleia</key>
		<integer>-20</integer>
		<key>@MMK_R_bullet</key>
		<integer>-30</integer>
		<key>@MMK_R_exclamdown</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_guillemetleft</key>
		<integer>-40</integer>
		<key>@MMK_R_h</key>
		<integer>-50</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>-30</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_lslash</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_numbersign</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-20</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_slash</key>
		<integer>-70</integer>
		<key>@MMK_R_slash.case</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_w</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_anoteleia</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_four</key>
		<integer>-60</integer>
		<key>@MMK_R_four.osf</key>
		<integer>-40</integer>
		<key>@MMK_R_seven</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_backslash</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_backslash.case</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_braceleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_bracketleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_bracketright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_bullet</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_exclam</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_exclamdown</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>50</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>20</integer>
		<key>@MMK_R_braceright</key>
		<integer>60</integer>
		<key>@MMK_R_bracketright</key>
		<integer>60</integer>
		<key>@MMK_R_eight.numr</key>
		<integer>40</integer>
		<key>@MMK_R_exclam</key>
		<integer>50</integer>
		<key>@MMK_R_four.numr</key>
		<integer>20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>10</integer>
		<key>@MMK_R_n</key>
		<integer>10</integer>
		<key>@MMK_R_nine.numr</key>
		<integer>40</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_one.numr</key>
		<integer>40</integer>
		<key>@MMK_R_parenright</key>
		<integer>60</integer>
		<key>@MMK_R_question</key>
		<integer>40</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>60</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>40</integer>
		<key>@MMK_R_quotereversed</key>
		<integer>50</integer>
		<key>@MMK_R_seven.numr</key>
		<integer>50</integer>
		<key>@MMK_R_six.numr</key>
		<integer>40</integer>
		<key>@MMK_R_three.numr</key>
		<integer>40</integer>
		<key>@MMK_R_trademark</key>
		<integer>50</integer>
		<key>@MMK_R_two.numr</key>
		<integer>40</integer>
		<key>@MMK_R_zero.numr</key>
		<integer>40</integer>
		<key>ibreve</key>
		<integer>20</integer>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idblgrave</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>ihookabove</key>
		<integer>35</integer>
		<key>itilde</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_four</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-50</integer>
		<key>@MMK_R_one</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_guillemetleft</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_guillemetright</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_seven</key>
		<integer>-40</integer>
		<key>@MMK_R_seven.osf</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-35</integer>
		<key>@MMK_R_period</key>
		<integer>5</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_lslash</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_nine</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_numbersign</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_one</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-50</integer>
		<key>@MMK_R_four</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_one.osf</key>
	<dict>
		<key>@MMK_R_four.osf</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_parenleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_Z</key>
		<integer>5</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-170</integer>
		<key>@MMK_R_eight.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_five.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_four</key>
		<integer>-60</integer>
		<key>@MMK_R_four.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_four.osf</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemetleft</key>
		<integer>-30</integer>
		<key>@MMK_R_leftanglebracket-math</key>
		<integer>-30</integer>
		<key>@MMK_R_lslash</key>
		<integer>-20</integer>
		<key>@MMK_R_nine.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_one</key>
		<integer>-30</integer>
		<key>@MMK_R_one.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-50</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-50</integer>
		<key>@MMK_R_quotereversed</key>
		<integer>-50</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-50</integer>
		<key>@MMK_R_seven</key>
		<integer>-60</integer>
		<key>@MMK_R_seven.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_seven.osf</key>
		<integer>-90</integer>
		<key>@MMK_R_six</key>
		<integer>-20</integer>
		<key>@MMK_R_six.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_six.osf</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_three.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_two.numr</key>
		<integer>-70</integer>
		<key>@MMK_R_two.osf</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
		<key>@MMK_R_zero</key>
		<integer>-20</integer>
		<key>@MMK_R_zero.numr</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_questiondown</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_quotedblleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_numbersign</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
		<key>@MMK_R_w</key>
		<integer>30</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_quotereversed</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_exclamdown</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>@MMK_R_question</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_rightanglebracket-math</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>30</integer>
		<key>@MMK_R_four</key>
		<integer>-60</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_seven.osf</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_space</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_two</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_quotedblleft</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_underscore</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_vcaron</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_period</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
