<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>2070</integer>
  <key>capHeight</key>
  <integer>1552</integer>
  <key>copyright</key>
  <string>Copyright (c) 2011, Sorkin Type Co (www.sorkintype.com)with Reserved Font Name &#39;Calistoga&#39;.</string>
  <key>descender</key>
  <integer>-570</integer>
  <key>familyName</key>
  <string>CalistogaOne</string>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>2013/12/29 23:10:01</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>2070</integer>
  <key>openTypeHheaDescender</key>
  <integer>-570</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Yvonne Sch&#xc3;&#xbc;ttler</string>
  <key>openTypeNameDesignerURL</key>
  <string>www.ysch.de</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Yvonne Sch&#xc3;&#xbc;ttler</string>
  <key>openTypeNameManufacturerURL</key>
  <string>www.sorkintype.com</string>
  <key>openTypeNameDescription</key>
  <string>Calistoga was inspired by the posters Oscar M. Bryn made for the Santa Fe Railroad. Calistoga adopts some of the voice of this lettering and applies to a broadly useful typeface.</string>
  <key>openTypeNameSampleText</key>
  <string></string>
  <key>openTypeNameUniqueID</key>
  <string>YvonneSchttler: CalistogaOne: 2013</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.003</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>4</integer>
    <integer>7</integer>
  </array>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>512</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>102</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1434</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>287</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1331</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1434</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>977</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1331</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>2070</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-570</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>4</integer>
    <integer>5</integer>
    <integer>7</integer>
    <integer>29</integer>
    <integer>31</integer>
    <integer>33</integer>
    <integer>35</integer>
    <integer>38</integer>
    <integer>45</integer>
    <integer>60</integer>
    <integer>62</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>STC</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>2070</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>570</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-28</integer>
    <integer>0</integer>
    <integer>1177</integer>
    <integer>1209</integer>
    <integer>1588</integer>
    <integer>1588</integer>
  </array>
  <key>postscriptUniqueID</key>
  <integer>-1</integer>
  <key>postscriptDefaultCharacter</key>
  <string>.notdef</string>
  <key>postscriptFontName</key>
  <string>CalistogaOne</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>CalistogaOne</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-475</integer>
    <integer>-475</integer>
  </array>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>141</integer>
    <integer>120</integer>
    <integer>130</integer>
    <integer>158</integer>
    <integer>199</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>253</integer>
    <integer>184</integer>
    <integer>219</integer>
    <integer>308</integer>
    <integer>325</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-154</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>102</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>CalistogaOne</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string>Calistoga is a trademark of Sorkin Type Co.</string>
  <key>unitsPerEm</key>
  <integer>2048</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>3</integer>
  <key>year</key>
  <integer>2013</integer>
  <key>xHeight</key>
  <integer>1177</integer>
  <key>macintoshFONDName</key>
  <string>CalistogaOne</string>
  <key>macintoshFONDFamilyID</key>
  <integer>128</integer>
</dict>
</plist>
