<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1011</integer>
	<key>capHeight</key>
	<integer>758</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011, Sorkin Type Co (www.sorkintype.com)with Reserved Font Name 'Calistoga'.</string>
	<key>descender</key>
	<integer>-278</integer>
	<key>familyName</key>
	<string>CalistogaOne</string>
	<key>macintoshFONDName</key>
	<string>CalistogaOne</string>
	<key>openTypeHeadCreated</key>
	<string>2018/05/23 14:51:46</string>
	<key>openTypeHheaAscender</key>
	<integer>1011</integer>
	<key>openTypeHheaDescender</key>
	<integer>-278</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>Calistoga was inspired by the posters Oscar M. Bryn made for the Santa Fe Railroad. Calistoga adopts some of the voice of this lettering and applies to a broadly useful typeface.</string>
	<key>openTypeNameDesigner</key>
	<string>Yvonne Schuttler</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.ysch.de</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Yvonne Schuttler, Eben Sorkin</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.sorkintype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>CalistogaOne</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1011</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-278</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>STC</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1200</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>300</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-16</integer>
		<integer>0</integer>
		<integer>575</integer>
		<integer>591</integer>
		<integer>775</integer>
		<integer>791</integer>
	</array>
	<key>postscriptFontName</key>
	<string>CalistogaOne</string>
	<key>postscriptFullName</key>
	<string>CalistogaOne</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-248</integer>
		<integer>-232</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>69</integer>
		<integer>59</integer>
		<integer>63</integer>
		<integer>77</integer>
		<integer>97</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>124</integer>
		<integer>90</integer>
		<integer>107</integer>
		<integer>150</integer>
		<integer>159</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-75</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleMapFamilyName</key>
	<string>CalistogaOne</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Calistoga is a trademark of Sorkin Type Co.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>4</integer>
	<key>xHeight</key>
	<integer>575</integer>
</dict>
</plist>
